<!DOCTYPE html>
<html>
  <head>
    <div class="row">
      <title>Timbuk3</title>
      <%= csrf_meta_tags %>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
      <nav class="navbar custom-navbar">
        <span class="logo"> TIMBUK3</span>
        <%= link_to "Home", '/', :class => 'navbar-brand' %> <!-- need to route home -->
        <%= link_to "All Products", products_path, :class => 'navbar-brand' %>
        <%= link_to "Add Product", new_product_path, :class => 'navbar-brand' %>

        <div class="pull-right login">
        <% if current_user %>
          <ul>
            <li><%= current_user.email %></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to "Login", 'login' %></a></li>
            <li><%= link_to "Signup", 'signup' %></a></li>
          </ul>
        <% end %>
      </div>


      </nav>
      <div class="alert-success"><%= flash[:notice] %></div>
      <%= yield %>
      <footer>Copyright (c) 2017 Joshua Rinard</footer>
    </body>
  </div>
</html>
